h1, P{
  /* color: #9ba3e4; */
  color: rgb(23, 6, 53);
  font-weight: bolder;
  /* background-color: rgb(83, 55, 131); */
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width:fit-content;
  /* position: static; */
  /* width: fit-content; */
/* border: 5px solid green; */
/* padding: 10%; */
}
h1 {
  /* display: flex;
  justify-content: center; */
  margin-top: 90px;
  
}
.intro{
  /* width: fit-content; */
  /* margin: 2% 20%; */
    display: flex;
  justify-content: center;
    /* border: 5px solid green; */
  width: auto;
  /* color: rgb(87, 31, 31); */
  color: #8eadf3;
  /* margin-left: 35%; */
}
/* .wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 13px; */
  /* border: 3px solid black; */
  /* background-color: rgb(71, 107, 90); */
  /* align-items: center;
  width: 100rem; */
  /* border: 5px solid white; */
  /* margin-left: auto;
  margin-right: 19px;
  padding-right: auto;
} */

#instruction {
  display: flex;
  justify-content: center;
  font-size: 13pt;
  /* border: 5px solid green; */
  /* width: fit-content; */
  /* margin-left: 37%; */
  /* margin-top: 90px; */
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 13px;
  border: 3px solid black;
  /* background-color: rgb(71, 107, 90); */
  align-items: center;
  width: 50rem;
  /* border: 1px solid white; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#to_container{
  border: 5px solid red;
  /* width: 500px; */
}

#from_rate_icon, #to_rate_icon, #to_rate, #equal{
  font-size: 31px;
    color: #9ba3e4;
  font-weight: bolder;
  background-color: black;
  font-weight: bolder;
  /* display: flex; */
  /* justify-content: center; */
  padding-bottom: 0;
  width: fit-content;
}

#from_rate{
  margin-left: 30%;
}

#from_rate_icon{

}

#to_rate_icon{
  margin-left: 3px;
}

#equal{
  font-size: 30px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 45%;
  margin-bottom: -1px;
  
}

.inpt {
  margin-left: 2.3rem;

}

#convert{
  margin-bottom: 15px;
  height: 50px;
  width: 150px;
  border: 1px solid black;
}


#swap-icon {
  border: none;
  /* background: none; */
  /* border: 5px solid red; */
  margin-bottom: 12px;
}

button {
  border-radius: 20px;
}

#from-group-container {
  width: 50%;
}

#to-group-container {
  /* width: 50%; */
  margin-left: 33px;
}
#second-currency,
#first-currency {
  width: 300px;
}
/* #second-currency{ */
/* width: 300px; */
/* } */
#second-amount,
#first-amount {
  width: 200px;
  color: black;

  background-color: #8eadf3;
}
/* #second-amount{
  width: 200px;
  color: black;
  font-weight: bolder;
  background-color: #8eadf3;
} */

img {
  width: 100px;
}

.user-group {
  /* height: 100px; */
  width: 200px;
  justify-content: center;
}
.switchElement {
  /* border: 6px solid black; */
  margin-bottom: -27px;
  font-weight: bolder;
  /* padding-bottom: auto; */
}
#current-rate {
  /* border: 5px solid red; */
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 10px;
}

#arrow {
  height: 50px;
  width: 50px;
}

input {
  font-weight: bolder;
}
