/* You can add global styles to this file, and also import other style files */
body{
    /* background-color: #6c747e; */
    /* margin-bottom: 500px; */
  }

  body{
    background-image: url("..//src/assets/17454.jpg");
    /* background-color: blue; */
    background-size: cover;
    background-position: 10% 29%;
    background-repeat: no-repeat;
  }
  
  